<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2017 Michael Krotscheck
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License"); you may not
  ~ use this file except in compliance with the License. You may obtain a copy
  ~ of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
  ~ WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
      </pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>

  <logger name="ch.qos.logback" level="ERROR"/>
  <logger name="org.apache" level="WARN"/>
  <logger name="org.apache.http" level="WARN"/>
  <logger name="com.mchange" level="WARN"/>
  <logger name="org.hibernate" level="WARN"/>
  <logger name="org.hibernate.orm.deprecation" level="OFF"/>
  <logger name="org.jboss" level="WARN"/>
  <logger name="net.sourceforge.cobertura" level="WARN"/>
  <logger name="liquibase" level="WARN"/>
  <logger name="LiquibaseSchemaResolver" level="WARN"/>
  <logger name="ResourceAccessorXsdStreamResolver" level="WARN"/>
  <logger name="ContextClassLoaderXsdStreamResolver" level="WARN"/>
  <logger name="jndi" level="WARN"/>
  <logger name="ch.qos" level="WARN"/>
  <logger name="org.glassfish.jersey.test" level="INFO"/>
  <logger name="org.glassfish" level="ERROR"/>
  <logger name="net.krotscheck.kangaroo.test" level="ERROR"/>

</configuration>
